*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/*
application/controllers/Scrapper_test.php
application/libraries/Telegram_api.php
application/libraries/Api_auth.php
application/models/Telegram_bot_test_model.php
