*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess
!*/vendor/*

*/application/library/Telegram_api.php
*/application/library/routes.php
*/application/controller/Telegram_bot_test.php
*/application/model/Telegram_bot_test_model.php

application/logs/*
!application/logs/index.html
!application/logs/.htaccess