/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Manrope-Light.woff2) format('woff2');
  }
  /* cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Manrope-Regular.woff2) format('woff2');
  }
  /* greek */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Manrope-Medium.woff2) format('woff2');
  }
  /* vietnamese */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500 600;
    font-display: swap;
    src: url(../fonts/Manrope-SemiBold.woff2) format('woff2');
  }
  /* latin-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Manrope-Bold.woff2) format('woff2');
  }
  /* latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../fonts/Manrope-ExtraBold.woff2) format('woff2');
  }
  